<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Комната №<%= roomID %></title>
  <link rel="stylesheet" href="/public/css/master.css">
</head>
<body>
  <section class="main rooma">
    <div class="container">
      <div class="catastrophe">
        <p style="text-align: center;"><%= catastrophe[0] %> </p>
        <p><%= catastrophe[1] %></p>
      </div>
      <div class="attribute">
        <p>Профессия: <%= attribute.__profession %></p>
        <p>Здоровье: <%= attribute.__health %></p>
        <p>Биологическая характеристика: <%= attribute.__biologicalCharacterization %></p>
        <p>Багаж: <%= attribute.__baggage %></p>
        <p>Хобби: <%= attribute.__hobby %></p>
        <p>Фобии: <%= attribute.__phobias %></p>
        <p>Качество человека: <%= attribute.__humanQuality %></p>
        <p>Дополнительная информация: <%= attribute.__additionalInfo %></p>
        <p>Специальные условия: <%= attribute.__action %></p>
      </div>
    </div>
  </section>
</body>
</html>
